<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity
    Name="__IDENTITY_NAME__"
    Publisher="__PUBLISHER__"
    Version="__VERSION__"
    ProcessorArchitecture="__ARCHITECTURE__" />
  <Properties>
    <DisplayName>__DISPLAY_NAME__</DisplayName>
    <PublisherDisplayName>__PUBLISHER_DISPLAY_NAME__</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Standalone Windows tray renderer for Codex-compatible custom pets.</Description>
  </Properties>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Applications>
    <Application
      Id="PetRunner"
      Executable="PetRunner.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="__DISPLAY_NAME__"
        Description="Standalone Windows tray renderer for Codex-compatible custom pets."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square71x71Logo="Assets\Square71x71Logo.png"
          Square310x310Logo="Assets\Square310x310Logo.png"
          ShortName="PetRunner" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="transparent" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
